*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
    color: white;
}
li{
   
    list-style: none;
}
span{
    font-family: Wakanda forever;
}
p{
    font-family: Cantarell;
    font-size: 16px;
  }

h2{
    font-family: BEYNO;
    font-size: 32px;
}
a{
    text-decoration: none;
}
/* HEADER */
header{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;   
}
nav{
    width: inherit;
    display: flex;
    align-items: flex-end;
    margin: 0 4rem;
    
}
.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    font-family: BEYNO;
    font-size: 2px;
}

li h2{
    font-family: BEYNO;
    font-size: 18px;
    font-weight: normal;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
}
nav img{
    min-width: fit-content;
    min-height: fit-content;
}
nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: #9E91B7;
}
a:focus{
    text-decoration: underline;
    color: #021740;
}



/* FIRST */

.first{
    display: flex;
    flex-direction: row;

}
.ptr{
    width: 60%;
    scale: 1.3;
    margin-left: 2%;
    margin-top: 0%;
}
.bg{
   width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bg h2{
    font-size: 50px;
    font-weight: normal;
    position: relative;
    top: 150px;
    right: 120px;
    color: #9E91B7;
    line-height: 50px;
}
.fond{
    position: relative;
    top: -350px;
    right: -650px;
}
.DM{
    position: relative;
    top: 150px;
    right: 160px;
}
.INTROD{
    position: relative;
    top: 170px;
    right: 30px;
    font-family:cantarell; 
    font-size: 14px;
    width: 100%;

}

/* second */

.enigme{
    display: flex;
    flex-direction: row;

}
.letter{
    display: flex;
    flex-direction: column;
}
h2 span{
    font-size: 32px;
    font-weight: normal;
    color: #9E91B7;
    letter-spacing: 10PX;
    position: relative;
    top: -380px;
    left: 170px;
}
.alphabet{
    position: relative;
    top:-250px ;
    left: 170px; 
}
.answer{
    position: relative;
    top:-140px ;
    left: 170px;
    line-height: 35px;
}
input{
    width: 520px;
    height: 56px;
    border-radius: 38px;
    background: none;
    border-color: #9E91B7;
    color: #9E91B7; 
    font-family: cantarell; 
    font-size: 16px; 
    padding:20px; 
}
.DYK{
    text-align: center;
    font-size: 14px;
    position: relative;
    top: -180px;
    right: -300px;
}
.wkd{
    position: relative;
    top: -450px;
    left: 300px;
}
button{
    width: 174px;
    height: 50px;
    border-radius: 38px;
    align-self: center;
    position: relative;
    right: -180px;
    top: 100px;
    border-color: transparent;
    color: #07338C;
    background-color: #F2CEF2;
}


/* FOOTER */

footer{
    background:url(../IllustrationsLogo/Allpages/back_footer.png);
    display: flex;
    flex-direction: row;
    padding:5% 15% ;
    font-family: cantarell;
    align-items: center;
}
.pic1{
    position:relative;
}
.pic2{
    position:relative;
    top:-195px;
    right:-40px;
}

.feet{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.write{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.found ul{
    display: flex;
    flex-direction: row;
}
.found li{
    justify-content: space-between;
    padding-right: 12%;
}
.shallow{
    display: flex;
    flex-direction: row;
    
}
.shallow li{
    list-style-type: inherit;
   margin-left: 40px;
}
.point{
    display: flex;
    flex-direction: row;
    width: max-content;
}
.pan{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 10px;

}



