*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../IllustrationsLogo/Allpages/arrière_plan.png);
    color: white;
    width: FIT-content;
   
}
h1{
    font-family: panthera;
    font-size: 68px;
    font-weight:regular;
    color: #9E91B7;

}
h2{
    font-family: BEYNO regular;
    font-size: 32px;
    font-weight: regular;
    color: white;

}
p{
    font-family: Cantarell;
    font-size: 16px;
    
}
li{
    list-style-type:none ;
}

/* LIGNES */

.lignes{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: min-content;
    height: 30rem;
    gap: 0.3rem;
    margin-left: 2.5%;
}
.adresse{
    width: min-content;
    height: fit-content;
    margin: 0;
       
}
.adresse img{
    padding-top:25px;
}
.adresse img:hover{
    width: max-content;
    filter:brightness(100);

}
.vertical-line{
    background-color: #9E91B7;
    width: 5px;
     height: 100%;   
}
.eme{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

header{
    margin-left: 5%;
    width: 75%;
    height: 6rem;
    display: flex;
    align-items: center;   
}
nav{
    width: inherit;
    display: flex;
    align-items: flex-end;
    margin: 0 4rem;
    
}
.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    font-family: BEYNO;
    font-size: 2px;
}

li h2{
    font-family: BEYNO;
    font-size: 18px;
    font-weight: normal;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
}
nav img{
    min-width: fit-content;
    min-height: fit-content;
}
nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: #9E91B7;

}
a:focus{
    text-decoration: underline;
    color: #021740;

}

/* a:visited{
    text-decoration: underline;
    color: #ffff;

}  */
/* CONTENU */
.contenu{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    
}

.BP{
    margin-top: 9%;
    margin-left: 9%;
    width:25%; 
    
}

.deux{
    display: flex;
    flex-direction: row;
    width: 100%;
   
}
.pb{
    float: left;
    width: 30%;
    height: 80%;
    margin-top: 10%;
    margin-left:10%; 
    scale: 1.89;
    margin-right:7%;
}

/* SCROLLABLE */

.SCROLLABLE{
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    background-color:#021740;
    height: 25.75vh;
    justify-content: space-between;
    width: 66%;
    align-items: start;
    
}
.SCROLLABLE a{
    color: #FFF;
}
.aas{
    position: relative;
    top: 170px;
    right: 170px;
    border-color: transparent;
    border-radius: 90%;
    background: #021740;
    width: 250px;
    height: 45px;
    color:white ;
    z-index: 2;
    font-family: CANTARELL;
    font-size: 20px;
}
.SCROLLABLE h2{
    padding-bottom: 20px;
    padding-top: 30px;
    color: #9E91B7;
}
.sary{
    
    width: 100%;
    margin-left: 60px;
}
.km{
    margin: 45px;
    margin-left: 60px;
}
.sary img{
    max-inline-size: 100%;
    block-size: auto;
    transform: scale(1.2);

}
.saryy{
    width: 100%;
   
}
.saryy img{
    max-inline-size: 100%;
    block-size: auto;
    width: max-content; 
}
.saryyy{
    padding-left: 50PX;
    width: 100%;
}
.saryyy img{
    max-inline-size: 100%;
    block-size: auto;
    width: max-content;
    z-index: 1;

}

 /* BIO */

.soratra{
    align-content: center;
    flex-basis:40%;
    margin-left: 10%;
    margin-right: 2%;
    margin-top:7% ;
    font-family: cantarell;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10%;
}
.soratra h2{
    margin-bottom:30px;
    margin-top:30px;
    color: #9E91B7;
}

.bio{
    text-align: justify;
    display: flex;
    flex-direction: row;
    list-style: disc;
}

/* SORA */
.sora{
    margin-left: 4%;
}
.roi{
    border-radius: 20px;
    background-color: #FFF;
    width: 96%;
    height: 38%;
    position: relative;
    z-index: 1;
    color:#021740;
    top: -10.1%;
    right:46.75%;
    padding-top: 56%;
    font-size: 16px;
    font-family: cantarell;  
}

.roi h3{
    padding-top:30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-family: cantarell;
    font-weight: bold;
}
.king{
    position: relative;
    z-index: 2;
    top: 7%;
    right: 37.5%;
    width: max-content;
    width: 450px;

}
.boutton{
    text-align: center;
    justify-content: space-around; 
}
.b,.bb,.bbb{
    border-radius: 5px;
    border-color:transparent;
    text-align: center;
    background-color: #3D2DA6;
    color: white;
    font-family: cantarell;
    font-size: 16px;
    height: 40px;
    margin: 0 8px
}
.b{
    width:130px;

}
.bb{
    width: 150px;
}
.bbb{
    width:80px;
}
.about{
    padding-left:14%;
    padding-right:11%;
    padding-top: 5%;
    line-height: 18px;
}
.poster{
    position: relative;
    top:-5%;
    right:35%;
    scale: 1.3;

}

/* HELP */
.aide{
    background-image:url(../IllustrationsLogo/Accueil/Pantherhome7.png);
    background-repeat: no-repeat;
    width: 71.2%;
    background-position: center;
    padding-top:5%;
    padding-bottom: 10%;


}
.help{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cantarell;
    font-size: 16px;
    color:#021740; 
    border-radius: 200px;
    margin: 0% 20%; 
    background:linear-gradient(180deg,white,transparent );
    /* width: 100%; */
    padding: 80px 0px;
}
.help p{
    font-family: cantarell;
    font-size: 16px;
}
.help strong{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
input{
    width: 520px;
    height: 56px;
    border-radius: 38px;
    background: none;
    border-color: #021740;
    color: #021740; 
    font-family: cantarell; 
    font-size: 16px; 
    padding:20px;
  
}
textarea{
    width: 520px;
    background: none;
    border-radius: 38px;
    border-color: #021740; 
    color: #021740; 
    font-family: cantarell; 
    font-size: 16px; 
    padding:16px 20px;
    
}
.Envoyer{
    width: 174px;
    height: 54px;
    border-radius: 38px;
    align-self: center;
    position: relative;
    right: -180px;
    top: -12px;
    border-color: transparent;

}
.fill button:hover{
    box-shadow:20px;

    
}


/* FOOTER */

footer{
    background:url(../IllustrationsLogo/Allpages/back_footer.png);
    display: flex;
    flex-direction: row;
    width: 71.2%;
    padding:5% 15% ;
    font-family: cantarell;
    align-items: center;
}
.pic1{
    position:relative;
}
.pic2{
    position:relative;
    top:-195px;
    right:-40px;
}

.feet{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.write{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.found ul{
    display: flex;
    flex-direction: row;
}
.found li{
    justify-content: space-between;
    padding-right: 12%;
}
.shallow{
    display: flex;
    flex-direction: row;
    
}
.shallow li{
    list-style-type: inherit;
   margin-left: 40px;
}
.point{
    display: flex;
    flex-direction: row;
    width: max-content;
}
span{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 8px;

}












